<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toy.app.work.dashboard.mapper.DashboardMapper">

	<insert id="insertWheatherContent"
		parameterType="com.toy.app.work.dashboard.dto.WheatherDto">
		INSERT INTO WHEATHER
		(WHEATHER_ID, USER_ID, REG_DT,CONTENT)
		VALUES(nextval('wheather_seq'), #{userId}, CURRENT_TIMESTAMP, #{content})
	</insert>
	
	<select id="getAreaCode"
		resultType ="com.toy.app.work.dashboard.dto.AreaCodeDto">
		SELECT area_id, area_nm FROM areaCode
	</select>

</mapper>