<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.toy.app.work.register.mapper.RegisterMapper">

	<!-- 계정 생성 -->
	<insert id="insertUser"
		parameterType="com.toy.app.work.login.dto.UserLoginDto">
		INSERT INTO USER_BAS
		(USER_ID, USER_NM, TEL_NO, IP_ADR, LOGIN_FAIL_CNT, AUTH_ID, ATHN_VAL,
		USER_ACC_STTUS_CD, LAST_LOGIN_DT, REG_DT, CHG_DT)
		VALUES(#{userId}, #{userNm},NULL, #{ipAdr}, 0, NULL,
		#{userPw}, 'A', NULL, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
	</insert>
</mapper>