<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toy.app.work.login.mapper.LoginMapper">
 
    <!-- 계정 확인 -->
    <select id="doLogin" parameterType="com.toy.app.work.login.dto.UserLoginDto" resultType="String">
        SELECT user_pw
        FROM user_bas
        WHERE user_id = #{userId}
    </select>
</mapper>